{% extends 'node.html.twig' %}
{#
/**
 * @file
 * Theme override to display a node.
 */
#}
{% block content %}
  <section class="article-header">
    <div class="article-header__container">
      {% if content.field_date %}
        <div class="article-header__time">
          <time datetime="2017-02-14">{{ content.field_date }}</time>
        </div>
      {% endif %}
      {{ title_prefix }}
      <h1{{ title_attributes.addClass('article-title', 'h2') }}>{{ label }}</h1>
      {{ title_suffix }}
      {% if topic_logo %}
        <img src="{{ topic_logo }}" alt="{{ topic_title }}" class="article-header__img">
      {% endif %}
      {% if content.body|render|striptags|trim is not empty %}
        <div class="article-header__content">
          {{ content.body }}
        </div>
      {% endif %}
    </div>
    <!-- /.article-header__container -->
  </section>
  {{ content|without('body', 'field_date', 'field_topic') }}
{% endblock %}
